<section class="finder">
    <div class="finder__title">
        <h1 class="finder__title--title">console.log(findSerie);</h1>
        <img class="finder__title--gif" src="./assets/images/giphy.gif" alt="gif popcorn" title="popcorn gif">
    </div>

    <form class="finder__form js-form" method="GET">
        <input class="finder__form--input js-input" type="text" placeholder="Ej. Breaking Bad" required>
        <input class="finder__form--button js-searchButton" type="button" value="Buscar">
    </form>
</section>