<section class="searcher">
    <div class="searcher__title">
        <h1 class="searcher__title--title">console.log(findSerie);</h1>
        <img class="searcher__title--gif" src="./assets/images/giphy.gif" alt="gif popcorn" title="popcorn gif">
    </div>

    <form class="searcher__form js-form" method="GET">
        <input class="searcher__form--input js-input" type="text" placeholder="Ej. Breaking Bad" required>
        <input class="searcher__form--button js-searchButton" type="button" value="Buscar">
    </form>
</section>