<footer class="footer">
        <div class="footer__info">
            <small class="footer__info--copy">vtendero © 2021</small>
            <small class="footer__info--motto">dark mode coding</small>
            <section class= "footer__socialMedia">
                <a class="footer__socialMedia--icon" title="Github" href="https://github.com/vtendero"   target="_blank">
                    <i class="fab fa-github footer__socialMedia--icon"></i></a>
                <a class="footer__socialMedia--icon" title="Linkedin" href="https://www.linkedin.com/in/valle-tendero/" target="_blank">
                    <i class="fab fa-linkedin footer__socialMedia--icon"></i>
                </a>
            </section>
        </div>
        <img class="footer__logo" src="./assets/images/world.jpg" alt="Logo"></img>
    </footer>