//colors
$buttonColor: #25CEC6;
$textColor: #FFFFFF;
$tvColor: #8DE1DE;
$coralColor:#FF4867; 
$yellowColor: #FFD301;

//fonts
$inconsolataFont: 'Inconsolata', monospace;
$yuseiFont: 'Yusei Magic', sans-serif;