html {
  background-image: url(../images/vintage-videotape.jpg);
  background-size: cover;
  background-position: center;
}

.main {
  min-height: calc(100vh - 85px);
}

.finder {
  padding: 40px 0 20px;
  font-family: $inconsolataFont;
  align-items: center;
  background: $blackColor;
  
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 20px;
  }

  &__title {
    color: $coralColor;
    display: flex;
    justify-content: center;
    font-size: 22px;
    
    @include tablet {
      font-size: 30px;
    }
  }

  &__form {
    text-align: center;

    &--input {
      padding: 10px;
      width: 200px;
      height: 40px;
      border: none;
      border-radius: 5px;
      font-size: 16px;

      @include tablet {
        width: 250px;
        height: 50px;
      }

      &:focus {
        outline: 0 none;
        border: 3px solid $buttonColor;
      }
    }

    &--reload {
      background: none;
      border: none;
      position:absolute;
      margin: 22px 0 0 -45px;
      font-size: 20px;
      padding: 5px;
      cursor: pointer;

      @include tablet {
        margin: 10px 0 0 -45px;
      }
    }

    &--search {
      margin-top: 20px;
      padding: 10px;
      width: 70px;
      border-radius: 5px;
      border: none;
      background: $buttonColor;
      color: $textColor;
      font-family: $inconsolataFont;
      font-size: 16px;
      box-shadow: none;
      outline: none;
      cursor: pointer;
      
      &:hover {
        background: $buttonColor;
        filter: contrast(120%)
      }

      @include tablet {
        width: 100px;
        margin: 0;
      }
    }
  }
}