.page {
  background-image: url(../images/vintage-videotape.jpg);
  background-size: cover;
  background-position: center;
}

.finder {
  margin:0 40px 0;
  font-family: $inconsolataFont;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding: 10px;
    color: $coralColor;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
    @include tablet {
      font-size: 30px;
    }
    
    &--title {
      font-size: 26px;
      
      @include tablet {
        font-size: 60px;
      }
    }

    &--title {
       height: fit-content;
    }
    &--gif {
      width: 60px;
      
      @include tablet {
        width: 100px;
      }
    }
  }

  &__form {
    text-align: center;

    &--input {
      padding: 10px;
      width: 250px;
      height: 50px;
      border: none;
      border-radius: 5px;
      font-size: 16px;

      @include tablet {
        width: 350px;
      }

      &:focus {
        outline: 0 none;
        border: 3px solid $buttonColor;
      }
    }

    &--button {
      margin: 20px;
      padding: 10px;
      width: 100px;
      border-radius: 50px;
      border: none;
      background: $buttonColor;
      color: $textColor;
      font-family: $inconsolataFont;
      font-size: 18px;
      box-shadow: none;
      outline: none;
      cursor: pointer;
      
      &:hover {
        background: $tvColor;
        box-shadow: inset 0 0 0 2.5px $buttonColor;
      }
    }
  }
}