.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: $blackColor;
    border-top: 1px solid rgb(59, 59, 59);
    padding: 10px;
    height: 130px;
    width: 100%;
    position:fixed;
    bottom: 0px;

    @include tablet {
        flex-direction: row;
        height: 70px;
        margin-bottom: 15px;
        justify-content:flex-end;
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        color: $textColor;
        font-family: $fontRoboto;
        font-size: 12px;
        padding: 0 20px 10px;

        @include tablet {
            padding: 0 20px;
        }

        &--motto {
            font-family: $fontRoboto;
            color: $colorMotto;
            font-size: 10px;
        }  
    }

    &__socialMedia {
        &--icon {
            font-size: 17px;
            color: $textColor;
            padding: 5px;
            cursor: pointer;
        }
    }
    
    &__logo{
        order: -1;
        width: 90px;
        border-radius: 80px;

        @include tablet {
            order: 0;
        }
    }
}